@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

#mainBox {
  background: url("/static/images/undraw_mello.svg") no-repeat;
  background-size: 40%;
  background-position-x: 6%;
  background-position-y: bottom;
  justify-content: center;
}

form {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

form input[type="text"] {
  width: 80%;
  padding: 10px 20px;
  font-size: 20px;
  border: 3px dashed #001d3d;
  color: #001d3d;
  font-family: "Lato", sans-serif;
}

form input[type="text"]:focus,
form input[type="submit"]:focus {
  outline: none;
}

form input[type="text"]:hover {
  border-style: solid;
}

form input[type="submit"] {
  padding: 10px 40px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  background: #ffd60a;
  color: #001d3d;
  border: 3px dashed #001d3d;
  transition: all 0.2s;
  font-family: "Lato", sans-serif;
}

form input[type="submit"]:hover {
  background: #001d3d;
  border: 3px solid #001d3d;
  color: #ffd60a;
}
