{% extends "base.html" %} 

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/music-found.css') }}">
<title>Music Found</title>
{% endblock %} 

{% block body %}
    <a href="/" id="searchAgain">Search another song</a>
  </div>
</nav>

<div id="mainBox">
  <div id="songInfoBox">
    <img src={{ song_data[0].img }} alt="Image cover" />
    <div>
      <p>
        <span class="label">Song: </span>
        <span class="search-content">{{ song_data[0].song }}</span>
      </p>
      <p>
        <span class="label">Artist:</span>
        <span class="search-content">{{ song_data[0].artist }}</span>
      </p>
      <p>
        <span class="label">Description:</span>
        <span class="search-content">{{ song_data[0].description }}</span>
      </p>
    </div>
</div>

<div id="songLinks">
  <a href=http://{{ song_data[1].genius }} target="_blank"><img src="{{ url_for('static', filename='/images/genius-box.png') }}" alt="Genius logo"></a>
  <a href=http://{{ song_data[1].vagalume }} target="_blank"><img src="{{ url_for('static', filename='/images/vagalume-box.png') }}" alt="Vagalume logo"></a>
  <a href=http://{{ song_data[1].letras }} target="_blank"><img src="{{ url_for('static', filename='/images/letras-box.png') }}" alt="Letras logo"></a>
  <a href=http://{{ song_data[1].musixmatch }} target="_blank"><img src="{{ url_for('static', filename='/images/musixmatch-box.jpg') }}" alt="Musixmatch logo"></a>
</div>
{% endblock %}
