<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LyricsFinder</title>
  </head>
  <body>
    <nav>
      <span>LyricsFinder</span>
      <div>
        <span>About</span>
        <span>Creator</span>
        <span>Search for a song</span>
      </div>
    </nav>

    <form action="">
      <input type="text" placeholder="Search for your song here" />
      <input type="submit" value="Search" />
    </form>

    <div id="songInfoBox">
      <img src="" alt="Image cover" />
      <div>
        <p>
          <span>Song:</span>
          <span></span>
        </p>
        <p>
          <span>Artist:</span>
          <span></span>
        </p>
        <p>
          <span>Description:</span>
          <span></span>
        </p>
      </div>
    </div>

    <div>
        <a href="">
            
        </a>
        <a href="">

        </a>
        <a href="">

        </a>
        <a href="">

        </a>
    </div>
  </body>
</html>
